@model innovation4austria.web.Models.DashboardModel

<div class="bgimg-1 w3-display-container w3-grayscale-min">
    <div class="w3-row">
        <div class="w3-xxxlarge title-dashboard w3-center">
            <h1 class="w3-text-white w3-wide title-shadow bg-opacity w3-jumbo">DASHBOARD</h1>
        </div>
    </div>
    <div class="w3-row dashboard-top">
        <div class="w3-col l4 w3-center">
            <div class="w3-jumbo row-width">
                <h3 class="w3-text-white w3-wide title-shadow">MITARBEITER</h3>
            </div>
            @foreach (var item in Model.Users)
            {
                
                if (User.Identity.Name == item.Email && item.Active)
                {
                    <div class="w3-light-blue bg-round-corner bg-box-shadow w3-margin-top w3-margin-bottom w3-padding-xlarge row-width">
                        <label class="w3-label w3-text-white title-shadow">Vor- u. Nachname:</label>
                        <text class="w3-text-white w3-text-shadow">@item.Firstname @item.Lastname</text><br />
                        <a href="@Url.Action("Detail", "User")/@item.Id" class="w3-btn w3-text-white bg-opacity bg-hover-opacity-off">Profil</a>
                    </div>
                }
                if (User.Identity.Name != item.Email && item.Active)
                {
                    <div class="bg-opacity-min bg-round-corner bg-box-shadow w3-margin-top w3-margin-bottom w3-border-black w3-padding-xlarge row-width">
                        <label class="w3-label w3-text-white title-shadow">Vor- u. Nachname:</label>
                        <a href="mailto:@item.Email" target="_top" class="w3-text-white w3-text-shadow w3-hover-text-black">@item.Firstname @item.Lastname</a><br />
                    </div>
                }
            }
        </div>
        <div class="w3-col l4 w3-center">
            <div class="w3-jumbo row-width">
                <h3 class="w3-text-white w3-wide title-shadow">R&Auml;UME</h3>
            </div>

            @foreach (var item in Model.Rooms)
            {
                <div class="bg-opacity-min bg-round-corner bg-box-shadow w3-border-black w3-margin-top w3-margin-bottom w3-padding-xlarge row-width">
                    <label class="w3-label w3-text-white title-shadow">Raum: </label>
                    <a class="w3-text-shadow w3-text-white w3-hover-text-black" href="@Url.Action("Detail", "Room")/@item.Room_Id">Raum&minus;@item.RoomDescription</a>
                </div>
            }

            <div class="bg-opacity-min bg-round-corner bg-box-shadow w3-margin-top w3-margin-bottom w3-border-black w3-padding-xlarge row-width">
                <a href="@Url.Action("List", "Room")" class="w3-text-white w3-text-shadow w3-hover-text-black">Alle R&auml;ume &rArr;</a>
            </div>

        </div>
        <div class="w3-col l4 w3-center">
            <div class="w3-jumbo row-width">
                <h3 class="w3-text-white w3-wide title-shadow">RECHNUNGEN</h3>
            </div>

            @foreach (var item in Model.Bills)
            {
                <div class="bg-opacity-min bg-round-corner bg-box-shadow w3-margin-top w3-margin-bottom w3-border-black w3-padding-xlarge row-width">
                    <a href="@Url.Action("Detail", "Bill")/@item.Id" class="w3-text-shadow w3-text-white w3-hover-text-black">Rechnung&minus;@item.Billdate.Month&minus;@item.Billdate.Year</a>
                </div>
            }

        </div>
    </div>
</div>