@model innovation4austria.web.Models.UserDetailModel

<div class="bgimg-1 w3-display-container w3-grayscale-min">
    <div class="w3-row dashboard-top">
        <div class="w3-col l5 w3-center">
            <div class="w3-jumbo row-width">
                <h3 class="w3-text-white w3-wide title-shadow">IHRE DATEN</h3>
            </div>
            <div class="bg-opacity bg-box-shadow bg-round-corner w3-margin-top w3-margin-bottom w3-padding-xlarge row-width">
                <label class="w3-label w3-text-white title-shadow">Vorname: </label>
                <text class="w3-text-white w3-text-shadow">@Model.Firstname</text>
                <a href="#" onclick="document.getElementById('firstname').style.display='block'" class="w3-btn w3-text-white bg-opacity bg-hover-opacity-off"><i class="fa fa-edit"></i>&auml;ndern</a>
                <div id="firstname" class="w3-modal">
                    <div class="w3-modal-content w3-animate-zoom" style="max-width: 25%;">

                        <div class="w3-center">
                            <br>
                            <span onclick="document.getElementById('firstname').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">&times;</span>
                        </div>
                        <div class="w3-container">
                            @using (Html.BeginForm("ChangeFirstname", "User"))
                            {
                            @Html.AntiForgeryToken()

                            <div class="w3-section">
                                <label><b>Vorname</b></label>
                                <input type="text" name="firstname" value="@Model.Firstname" placeholder="Vorname" class="w3-input w3-border w3-margin-bottom" />
                                <button class="w3-btn-block w3-green w3-section w3-padding" type="submit">Vorname &auml;ndern</button>
                            </div>
                            }
                            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                <button onclick="document.getElementById('firstname').style.display='none'" type="button" class="w3-btn w3-red">Abbrechen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-opacity bg-box-shadow bg-round-corner w3-margin-top w3-margin-bottom w3-padding-xlarge row-width">
                <label class="w3-label w3-text-white title-shadow">Nachname: </label>
                <text class="w3-text-white w3-text-shadow">@Model.Lastname</text>
                <a href="#" onclick="document.getElementById('lastname').style.display='block'" class="w3-btn w3-text-white bg-opacity bg-hover-opacity-off"><i class="fa fa-edit"></i>&auml;ndern</a>
                <div id="lastname" class="w3-modal">
                    <div class="w3-modal-content w3-animate-zoom" style="max-width: 25%;">

                        <div class="w3-center">
                            <br>
                            <span onclick="document.getElementById('lastname').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">&times;</span>
                        </div>
                        <div class="w3-container">
                            @using (Html.BeginForm("ChangeLastname", "User"))
                            {

                            @Html.AntiForgeryToken()

                                @Html.ValidationSummary()

                            <div class="w3-section">
                                <label><b>Nachname</b></label>
                                <input type="text" name="Model.Lastname" value="@Model.Lastname" placeholder="Nachname" class="w3-input w3-border w3-margin-bottom" />
                                <button class="w3-btn-block w3-green w3-section w3-padding" type="submit">Nachname &auml;ndern</button>
                            </div>
                            }
                            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                <button onclick="document.getElementById('lastname').style.display='none'" type="button" class="w3-btn w3-red">Abbrechen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-opacity bg-box-shadow bg-round-corner w3-margin-top w3-margin-bottom w3-padding-xlarge row-width">
                <label class="w3-label w3-text-white title-shadow">Email: </label>
                <text class="w3-text-white w3-text-shadow">@Model.Email</text>
            </div>
            <div class="bg-opacity bg-box-shadow bg-round-corner w3-margin-top w3-margin-bottom w3-padding-xlarge row-width">
                <label class="w3-label w3-text-white title-shadow">Rolle: </label>
                <text class="w3-text-white w3-text-shadow">@Model.Role</text>
            </div>
            <div class="bg-opacity bg-box-shadow bg-round-corner w3-margin-top w3-margin-bottom w3-padding-xlarge row-width">
                <label class="w3-label w3-text-white title-shadow">Passwort: </label>
                <a href="#" onclick="document.getElementById('password').style.display='block'" class="w3-btn w3-text-white bg-opacity bg-hover-opacity-off"><i class="fa fa-edit"></i>&auml;ndern</a>
                <div id="password" class="w3-modal">
                    <div class="w3-modal-content w3-animate-zoom" style="max-width: 25%;">

                        <div class="w3-center">
                            <br>
                            <span onclick="document.getElementById('password').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">&times;</span>
                        </div>
                        <div class="w3-container">
                            @using (Html.BeginForm("ChangePassword", "User"))
                            {
                                @Html.AntiForgeryToken()

                            <div class="w3-section">
                                <label><b>Passwort</b></label>
                                <input type="password" name="oldPassword" value="" placeholder="Altes Passwort" class="w3-input w3-border w3-margin-bottom" />
                                <input type="password" name="newPassword" value="@Model.NewPassword" placeholder="Neues Passwort" class="w3-input w3-border w3-margin-bottom" />
                                <input type="password" name="renewPassword" value="@Model.ReEnterNewPassword" placeholder="Neues Passwort bestätigen" class="w3-input w3-border w3-margin-bottom" />
                                <button class="w3-btn-block w3-green w3-section w3-padding" type="submit">Passwort &auml;ndern</button>
                            </div>
                            }
                            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                <button onclick="document.getElementById('password').style.display='none'" type="button" class="w3-btn w3-red">Abbrechen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Dashboard", "User")" class="w3-btn w3-white w3-large w3-opacity w3-hover-opacity-off w3-text-black w3-hover-text-white w3-hover-dark-grey">Zur&uuml;ck</a>
        </div>
        <div class="w3-col l7 w3-center">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}