@model innovation4austria.web.Models.BillToPdfModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buchungsposten</title>
    <link rel="stylesheet" href="~/Content/BillDetail.css" />
</head>
<body>
    <header>
        <address>
            <p>innovations4austria GmbH</p>
            <p>1030 Wien,<br />Simmeringer Hauptstra&szlig;e 47</p>
            <p>(0043)1 321 456789</p>
        </address>
        <span><img alt="Signet" src="~/Content/img/favicon-96x96.png" /></span>
    </header>
    <article>
        <address>
            <p>@Model.Company.Name</p>
            <p>@Model.Company.Zip @Model.Company.City,</p>
            <p>@Model.Company.Street @Model.Company.Number</p>
        </address><br />
        <table class="meta">
            <tr>
                <th>PostenNr.:</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Datum:</th>
                <td>@Model.Billdate.ToShortDateString()</td>
            </tr>
        </table>
        <table class="inventory">
            <thead>
                <tr>
                    <th>Raum</th>
                    <th>Von - Bis</th>
                    <th>Preis/Tag inkl. USt.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Bookingdetails.Select(x => x.Room).FirstOrDefault()</td>
                    <td>@Model.Bookingdetails.Select(x => x.BookingDate.ToShortDateString()).FirstOrDefault() &minus; @Model.Bookingdetails.Select(x => x.BookingDate.ToShortDateString()).LastOrDefault()</td>
                    <td>&euro; @Model.Bookingdetails.Select(x => x.Price).FirstOrDefault()</td>
                </tr>
            </tbody>
        </table>
        <table class="balance">
            <tr>
                <th>Nettogesamtpreis</th>
                <td>&euro; @Model.TotalNetto</td>
            </tr>
            <tr>
                <th>USt. in %</th>
                <td>% 20</td>
            </tr>
            <tr>
                <th>USt. in &euro;</th>
                <td>&euro; @Model.USt</td>
            </tr>
            <tr>
                <th>Bruttogesamtpreis</th>
                <td>&euro; @Model.TotalPrice</td>
            </tr>
        </table>
    </article>
    <footer>
        <p>innovation4austria GmbH</p>
        <p>IBAN : AT32123000000001234</p>
        <p>UID : ATU12345678</p>
        <p>DVR : 7654321</p>
    </footer>
</body>
</html>
