@model List<innovation4austria.web.Models.RoomViewModel>

@if (Model != null && Model.Count>0)
{
    foreach (var item in Model)
    {
        <div class="bg-opacity-min bg-box-shadow w3-margin">
            <div class="w3-center">
                <div class="w3-section">
                    @Html.HiddenFor(x => item.Id)
                    <label class="w3-label w3-text-white title-shadow">Beschreibung</label>
                    <text class="w3-text-white title-shadow">@item.Name</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-white title-shadow">Preis</label>
                    <text class="w3-text-white title-shadow">@item.Price</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-white title-shadow">Ausstattung</label>
                   @foreach (var f in item.Furnishments)
                    {
                        <div><text class="w3-text-white title-shadow">@f.Name</text></div>
                    }
                </div>
                <div class="w3-section">
                    <a href="@Url.Action("Booking", "Room")/@item.Id" class="w3-btn w3-white w3-text-black w3-hover-grey w3-hover-text-white w3-margin">Buchen</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="bg-opacity-min bg-box-shadow w3-margin">
        <div class="w3-center">
            <h3 class="w3-wide w3-text-white title-shadow">Noch keine Suchergebnisse vorhanden!</h3>
        </div>
    </div>
}


@section Scripts{
    <script type="text/javascript">
        $.ajaxSetup();
    </script>
}