@model List<innovation4austria.web.Models.RoomViewModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="bg-opacity-min bg-box-shadow w3-margin">
            <div class="w3-center">
                <div class="w3-section">
                    @Html.HiddenFor(x => item.Id)
                    <label class="w3-label w3-text-light-green title-shadow">Beschreibung</label><br />
                    <text class="w3-text-white title-shadow w3-large">@item.Name</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-light-green title-shadow">Preis/Tag</label><br />
                    <text class="w3-text-white title-shadow w3-large">@item.Price &euro;</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-light-green title-shadow">Ausstattung</label><br />
                    @foreach (var f in item.Furnishments)
                    {
                        <div><text class="w3-text-white title-shadow w3-large">@f.Name</text></div>
                    }
                </div>

                <div class="w3-section">
                    <label class="w3-label w3-text-light-green title-shadow">Voraussichtlich gebuchte Tage</label><br />
                    <text class="w3-text-white title-shadow w3-large">@item.DateDiff Tag(e)</text>
                </div>

                <div class="w3-section">
                    <label class="w3-label w3-text-light-green title-shadow">Voraussichtlicher Gesamtpreis</label><br />
                    <text class="w3-text-white title-shadow w3-large">@(item.DateDiff*item.Price) &euro;</text>
                </div>

                @using (Html.BeginForm("Booking", "Room", FormMethod.Get))
                    {
                    <input type="hidden" value="@item.Id" name="Id" />
                        <input type="hidden" value="@item.DateDiff" name="DateDiff" />
                        <input type="hidden" value="@item.Furnishments" name="FurnishmentIds" />
                        <input type="hidden" value="@item.Start" name="Startdate" />
                        <input type="hidden" value="@item.End" name="Enddate" />
                        <div class="w3-section">
                            <input type="submit" value="Buchen" class="w3-btn w3-white w3-text-black w3-hover-green w3-hover-text-white w3-margin w3-large" />
                        </div>
                }

            </div>
        </div>
    }
}
else
{
    <div class="bg-opacity-min bg-box-shadow w3-margin">
        <div class="w3-center">
            <h3 class="w3-wide w3-text-white title-shadow">Noch keine Suchergebnisse vorhanden!</h3>
        </div>
    </div>
}


@section Scripts{
    <script type="text/javascript">
        $.ajaxSetup();
    </script>
}