@model innovation4austria.web.Models.RoomDetailModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bgimg-1 w3-display-container w3-grayscale-min">
    <div class="w3-row">
        <div class="w3-xxxlarge title-dashboard w3-center">
            <h1 class="w3-text-white w3-wide title-shadow bg-opacity w3-jumbo">BUCHUNGSDETAIL</h1>
        </div>
    </div>
    <div class="w3-row dashboard-top">
        <div class="w3-col l12 m12 s12 w3-center">
            <div class="bg-opacity bg-box-shadow bg-round-corner w3-margin-top w3-margin-bottom w3-padding-xlarge row-width">
                <div class="w3-section">
                    <label class="w3-label w3-text-white title-shadow">Raum: </label>
                    <text class="w3-text-white w3-text-shadow w3-large">@Model.Description</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-white title-shadow">Startdatum: </label>
                    <text class="w3-text-white w3-text-shadow w3-large">@Model.Startdate.ToShortDateString()</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-white title-shadow">Enddatum: </label>
                    <text class="w3-text-white w3-text-shadow w3-large">@Model.Enddate.ToShortDateString()</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-white title-shadow">Gebuchte Tage: </label>
                    <text class="w3-text-white w3-text-shadow w3-large">@Model.BookedDays Tage</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-white title-shadow">Preis/Tag: </label>
                    <text class="w3-text-white w3-text-shadow w3-large">@Model.PricePerDay &euro;</text>
                </div>
                <div class="w3-section">
                    <label class="w3-label w3-text-white title-shadow">Gesamtpreis: </label>
                    <text class="w3-text-white w3-text-shadow w3-large">@Model.TotalPrice &euro;</text>
                </div>
                <div class="w3-section">
                    <a href="@Url.Action("Dashboard", "User")" class="w3-btn w3-grey w3-text-white w3-hover-white w3-hover-text-black">Zur&uuml;ck</a>
                </div>
            </div>
        </div>
    </div>
</div>

