@model innovation4austria.web.Models.EditRoomModel

@{
    Layout = "~/Views/Shared/_Layouti4a.cshtml";
}

<div class="bgimg-1 w3-display-container w3-grayscale-min">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.Id)

        <div class="w3-display-middle w3-padding-xxlarge bg-opacity bg-box-shadow bg-round-corner">
            <div class="w3-form">
                <div class="w3-group w3-input-group">
                    <label class="w3-label w3-text-white w3-text-shadow">Raum</label>
                    <div class="w3-input">@Html.TextBoxFor(x => x.Description)</div>
                    <div class="w3-text-red">@Html.ValidationMessageFor(x => x.Description)</div>
                </div>
                <div class="w3-group w3-input-group">
                    <label class="w3-label w3-text-white w3-text-shadow">Preis</label>
                    <div class="w3-input">@Html.EditorFor(x => x.Price)</div>
                    <div class="w3-text-red">@Html.ValidationMessageFor(x => x.Price)</div>
                </div>
                <div class="w3-group w3-input-group">
                    <label class="w3-label w3-text-white w3-text-shadow">Ausstattung</label>
                    <div class="w3-input">@Html.ListBoxFor(x => x.Furnishments, new SelectList(Model.Furnishments, "Id", "Name"))</div>
                </div>
                <div class="w3-group w3-input-group">
                    <label class="w3-label w3-text-white">Geb&auml;ude</label>
                    <div class="w3-input">@Html.DropDownListFor(x => x.Facilities, new SelectList(Model.Facilities, "Id", "Name"))</div>
                </div>
                <div class="w3-group w3-input-group w3-center">
                    <input type="submit" value="Ändern" class="w3-btn w3-white w3-large w3-opacity w3-hover-opacity-off" />
                    <a href="@Url.Action("RoomList", "i4a")" class="w3-btn w3-red w3-large w3-opacity w3-hover-opacity-off">Zur&uuml;ck</a>
                </div>
            </div>
        </div>
    }
</div>