@model innovation4austria.web.Models.ViewRoomModel

<div class="bgimg-1 w3-display-container w3-grayscale-min w3-text-white">

    @using (Html.BeginForm())
    {
        <div class="w3-display-topleft w3-padding-xxlarge w3-margin-top w3-show-inline-block w3-opacity-min">
            <!-- Filter -->
            <ul id="filter" class="w3-card-4 w3-navbar w3-white">
                <li class="w3-margin w3-navitem">
                    <label class="w3-label w3-margin-top w3-text-black">Geb&auml;ude</label>
                    @Html.DropDownListFor(x => x.Filter.FacilityList, new SelectList(Model.Filter.FacilityList, "id", "name"), new { @class = "w3-dropdown-hover w3-margin-top w3-margin-bottom" })
                </li>
                <li class="w3-margin w3-navitem">
                    <label class="w3-label w3-margin-top w3-text-black">Ausstattung</label>
                    @Html.DropDownListFor(x => x.Filter.FurnishmentList, new SelectList(Model.Filter.FurnishmentList, "id", "description"), new { @class = "w3-dropdown-hover w3-margin-top w3-margin-bottom" })
                </li>
                <li class="w3-margin w3-navitem">
                    <label class="w3-label w3-margin-top w3-text-black">Von</label>
                    <input type="date" name="Model.Filter.FromDate" class="w3-margin-top w3-margin-bottom" placeholder="tt.mm.yyyy" />
                </li>
                <li class="w3-margin w3-navitem">
                    <label class="w3-label w3-margin-top w3-text-black">Bis</label>
                    <input type="date" name="Model.Filter.ToDate" class="w3-margin-top w3-margin-bottom" placeholder="tt.mm.yyyy" />
                </li>
                <li class="w3-margin w3-navitem">
                    <input type="submit" class="w3-btn w3-btn-bar w3-margin-top w3-margin-bottom" value="Suchen" />
                </li>
            </ul>
        </div>
    }
    <div id="search" class="w3-display-middle w3-padding-xxlarge">
        <!-- Ergebnisse -->
        <table class="w3-table w3-table-all w3-opacity-min w3-white">
            <tr class="w3-wide">
                <th>Raumname</th>
                <th>Geb&auml;ude</th>
                <th>Ausstattung</th>
            </tr>
            @foreach (var item in Model.RoomList)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.FacilityDescription</td>
                    <td>@item.FurnishmentDescription</td>
                    <td><a class="w3-btn w3-btn-bar w3-margin-top w3-margin-bottom" href="@Url.Action("Room", "Booking")/@item.Id">Diesen Raum Buchen</a></td>
                </tr>
            }
        </table>
    </div>
</div>