<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>innovations4austria</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/template/content")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="#" class="logo">innovations4austria</a>
            @if (User.Identity.IsAuthenticated)
            {
                <nav id="nav">
                    <!-- Menü bei eingeloggtem User -->
                    @Html.ActionLink("Home", "Index", "Home")
                    @Html.ActionLink("Logout", "Logout", "Home")
                </nav>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <nav id="nav">
                    <!-- Menü bei nicht eingeloggtem User -->
                    @Html.ActionLink("Home", "Index", "Home")
                    @Html.ActionLink("Login", "Login", "User")
                </nav>
            }
            
        </div>
    </header>
    @*<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>*@

    @RenderBody()

    <!-- Footer -->
    <section id="footer">
        <div class="inner">
            <div class="copyright">
                &copy; innovations4austria
            </div>
        </div>
    </section>   
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/template/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
